@page "/adduser"
@inject HttpClient client
@using Blog.Common.Models.User

@if (createUser is not null)
{
	<form>

		<div class="mb-3">
			<label class="form-label">First Name</label>
			<input type="text" class="form-control" @bind="@createUser.Firstname" name="FirstName">
		</div>
		<div class="mb-3">
			<label class="form-label">Last Name </label>
			<input type="text" class="form-control" @bind="@createUser.Lastname" name="LastName">
		</div>
		<div class="mb-3">
			<label class="form-label">Username</label>
			<input type="text" class="form-control" @bind="@createUser.Username" name="Username">
		</div>
		<div class="mb-3">
			<label class="form-label">Password</label>
			<input type="password" class="form-control" @bind="@createUser.Password" name="Password">
		</div>
		<div class="mb-3">
			<label class="form-label">Confirm Password</label>
			<input type="password" class="form-control" @bind="@createUser.ConfirmPassword" name="ConfirmPassword">
		</div>

		<button class="btn btn-primary" @onclick="Adduser">Add User</button>
	</form>
}


@code {
	CreateUserModel createUser = new CreateUserModel();

	async Task Adduser()
	{
		await client.PostAsJsonAsync<CreateUserModel>($"api/Users", createUser);
	}
}
